@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&family=Sulphur+Point:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
}

body {
  font-family: 'Sulphur Point', 'Public Sans', sans-serif;
  text-rendering: optimizeSpeed;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #44afe0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #10294c;
}
